@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Golos+Text:wght@400..900&display=swap');

:root{
    --primary-font: 'Archivo', sans-serif;
    --font-color: #E2E8F0;
    --background-color: #1B1E28;
    background-color: #1B1E28;

    /* Spacing */
    --gap-xs: 0.128rem;
    --gap-sm: 0.272rem;
    --gap-md: 0.618rem;
    --gap-lg: 1rem;
    --gap-xl: 1.618rem;
    --gap-xxl: 2.618rem;
    --gap-xxxl: 4.236rem;
    --gap-xxxxl: 6.854rem;

    h1, h2, h3, h4, h5, h6, p, a, span, div, li, ul, ol, input, button{
        font-family: var(--primary-font);
        color: var(--font-color);
    }
    a{
        text-decoration: none;
    }
    p{
        line-height: var(--gap-xl);
        filter: brightness(0.7);
    }
    h1{
        font-size: 38px;
    }


}

.column{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.stack{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

/* .row{
    border: 2px solid red;
    margin-bottom: var(--gap-xxl);
} */
.name-section{
    align-self: start;
    position: sticky;
    top: 0;
    height: 100vh;
    margin-left: 150px;
    /* border: 2px solid red; */
}

.main-section{
    margin-right: 150px;
}

.description{
    width: 60%;
}

.about-me{
    max-width: 700px;
}
li{
    list-style-type: none;
    text-decoration: none;
}

.tag{
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 40px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 2px solid #5de4a998;
    max-width: max-content;
}
.tool{
    border: 2px solid #38618C;
}
.experience-description{
    max-width: 700px;
}

